<span style="display:inline; float:right;">
	<%= render partial: "search_bar" %>
	Items per page: <%= select_tag :per_page, options_for_select([5,10,25], params[:per_page].to_i),
       :onchange => "if(this.value){window.location='?per_page='+this.value;}" %>
       <% if params[:q] %> 
       	<b><%= link_to "Clear Search", "/sent_mail" %></b>
		<% end %>

</span>

 	<table class="table table-bordered">
		<thead>
		  <tr>
		  	<td>Date</td>
		    <td>Teacher Name</td>
		    <td>Email</td>
		    <td>Sent Certifications</td>
	    </tr>
	  </thead>
	  <tbody>
		<% teachers.each do |t| %>
			<tr> 
				<td><%= t.created_at.to_formatted_s(:long) %></td>
				<td><%= t.name %></td>
				<td><%= t.email %></td>
				<td>
					<ol>
					<% t.credentials.each do |c| %>
						<li><%= c.name %></li>
					<% end %>
					</ol>
				</td>
		  	</tr>
		<% end %>
	  </tbody>

</table>
