<h2>Overview</h2>
<p>As <%= role.name.indefinite_article %> <b><%= role.name %></b>, you will need to obtain Pennsylvania certification and pass the required Pennsylvania exams.</p>
<ul>
	<li><b><u>Note</u></b>: If you will be in a learning support or special education role, please go back and select a role from the dropdown menu that contains your subject area and the words <i>learning support</i></li>
</ul>
<p>For further details on how to complete these steps, scroll down.  You will have the option to learn more about the Praxis exam and have certification information emailed directly to you.</p>



<% if @teacher.certificate_status == "yes" %>
<h2>Certification Status</h2>
<p>
	<% if @teacher.certificate_location == "PA" %>
		You indicated that you already have your certification in Pennsylvania.  Please confirm that your certificates on <%= link_to "Teacher Certification Search", "http://www.teachercertification.pa.gov/Screens/wfSearchEducators.aspx" %> are listed below and email <%= mail_to "work@kippphiladelphia.org" %>.
	<% elsif @teacher.certificate_location = "USA" %>
		As an out of-state certificate holder, you will need to obtain Pennsylvania certification to teach with KIPP Philadelphia Schools.
	<% else %>
		As an out of country certificate holder, you will need to obtain Pennsylvania certification to teach with KIPP Philadelphia Schools. 
	<% end %>

</p>
<% end %>

<%= render partial: "credentials/tims" %>

<% if role.exams.count > 0 %>
	<h2>Exams</h2>
	<%= render partial: "teachers/creds", locals: {credentials: role.exams} %>
<% end %>

<% if role.certificates.count > 0 %>
  <h2>Credentials</h2>

	<%= render partial: "teachers/creds", locals: {credentials: role.certificates} %>
<% end %>
