<h2>Overview</h2>
<p>As <%= role.name.indefinite_article %> <b><%= role.name %></b>, you will need to obtain Pennsylvania certification and pass the required Pennsylvania exams.</p>
<ul>
	<li><b><u>Note</u></b>: If you will be in a learning support or special education role, please go back and select a role from the dropdown menu that contains your subject area and the words <i>learning support</i></li>
</ul>
<p>For further details on how to complete these steps, scroll down.  You will have the option to learn more about the Praxis exam and have certification information emailed directly to you.</p>

<h2>On Your Certification</h2>
<p>
<% if @teacher.certificate_status == "yes" %>
	<% if @teacher.certificate_location == "PA" %>
		You indicated that you already have your certification in Pennsylvania.  Please confirm that your certificates are listed below and email work@kippphiladelphia.org.
	<% else %>
		To get your certificate validated in Pennsylvania, please review the information listed on <%= link_to "this", "http://www.education.pa.gov/Teachers%20-%20Administrators/Certifications/Pennsylvania%20Certification/Pages/Out-of-State.aspx", :target => "_blank" %> website.
	<% end %>
<% elsif @teacher.certificate_status == "no" %>
	Follow the steps below to learn which certificates you need to teach in Pennsylvania.
<% else %>
	How to convert an expired cert into a valid cert
<% end %>
</p>

<%= render partial: "credentials/tims" %>

<% if role.exams.count > 0 %>
	<h2>Exams</h2>
	<%= render partial: "credentials/credential_table", locals: {credentials: role.exams, table_header: "Exam Name"} %>
<% end %>

<% if role.certificates.count > 0 %>
  <h2>Credentials</h2>
	<%= render partial: "credentials/credential_table", locals: {credentials: role.certificates, table_header: "Credential Name"} %>
<% end %>
