

<p>Current time:  <i><%= Time.now.to_formatted_s(:long) %></i></p>


<% if @teachers.length > 0%>
	<%= will_paginate @teachers %>
	<%= render partial: "corresponding", locals: {teachers: @teachers} %>
<% else %>
	No results found matching <b><%= params[:q] %></b>.  You may <%= link_to "clear", "/sent_mail" %> this search.
<% end %>