<%= form_for(@teacher) do |f| %>
  <% roles_array = @unique_roles.map{ |r| [r.name, r.id]} %>
<p>
  <%= f.label :role_id %>
<%= f.select :role_id, roles_array %> <!--, :include_blank => true %> <!/-->
</p>

<p>
<%= f.label :grade_level %>
  <% 
grade_levels = [["PreK - 6", "early"], ["5 - 6", "middle"], ["7 - 12", "high"]] 
%>
<%= f.select :grade_level, grade_levels %> </p>

<p>
<%= f.label :special_education %>
<%= f.check_box :special_education %>
</p>
 
<p>
<%= f.label :PA %>
<%= f.check_box :PA %>
</p>
 
<p>
<%= f.label :US %>
<%= f.check_box :US %>
</p>

<p>
<%= f.submit %>
</p>
 

<% end %>