<h2 style = "text-align:center">Welcome!</h2>

<p>Please fill in the followig information to receive the next steps for Pennsylvania Certification.</p>



<%= form_for(@teacher) do |f| %>
<% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% roles_array = @unique_roles.map{ |r| [r.name, r.id]} %>
  <p>
    <%= f.label :role_id, "1. What is your position/teaching assignment?"%><br />
    <%= f.select :role_id, roles_array, :include_blank => true %>
  </p>

  <p>
<%= f.label :certificate_status, "2. Do you hold a current teaching certificate?" %> <br />
<%= f.radio_button :certificate_status, "yes" %> <%= f.label :certificate_status, "Yes", :value => "yes"  %><br />
<%= f.radio_button :certificate_status, "no" %> <%= f.label :certificate_status, "No", :value => "no"  %><br />
<%= f.radio_button :certificate_status, "expired" %> <%= f.label :certificate_status, "Certificate is expired or invalid", :value => "expired"  %>
  </p>

  <p>
<%= f.label :certificate_location, "3. In what state do you hold this certificate (only respond if you answered \"yes\" to the previous question)" %><br />

<%= f.radio_button :certificate_location, "PA" %> <%= f.label :certificate_location, "PA", :value => "PA"  %><br />
<%= f.radio_button :certificate_location, "USA" %> <%= f.label :certificate_location, "Another State", :value => "USA"  %><br />
<%= f.radio_button :certificate_location, "other" %> <%= f.label :certificate_location, "International/Other", :value => "other"  %>
  </p>

  <p>
    <%= f.submit "Get Next Steps" %>
  </p>
<% end %>