<%= render partial: "special_education", :locals => {pa: @PA} if @special_education %>

<% if @pa_certified %>
  <%= render partial: "pa" %>
<% else %>
  <% if @out_of_state %>
    <%= render partial: "usa" %>
  <% else %>
    <%= render partial: "nowhere" %>
  <% end %>  
<% end %>

For your role (<%= @role.name %>), you need the following <%= pluralize @role.credentials.length, "certificate" %>:
<ul>
  <% @role.credentials.each do |c| %>
    <li><%= c.name %></li>
  <% end %>
</ul>