<%= render partial: "teachers/main_content", locals: {role: @role, teacher: @teacher} %>

<%= form_for(@teacher, url: report_path, method: :get) do |f| %>
	<% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= render :partial => "credentials/reminder_text" %>
	<%= f.hidden_field :role_id,              :value => @teacher.role_id %>
	<%= f.hidden_field :certificate_status,   :value => @teacher.certificate_status %>
	<%= f.hidden_field :certificate_location, :value => @teacher.certificate_location %>
	<%= f.label :name, "Name:" %> <%= f.text_field :name %> <br />
	<%= f.label :email, "Email:" %> <%= f.text_field :email %> <br />
	< %= recaptcha_tags %>	
	<%= f.submit "Email me these steps" %>
<% end %>