<h3><%= @role.name %></h3>
<p>Special Education: <%= @role.special_education %></p>

<b><%= pluralize @role.credentials.length, "credential" %> required for this position:</b>
<h4>Exams</h4>
<%= render partial: "table", locals: {credentials: @exams} %>
<h4>Certificates</h4>
<%= render partial: "table", locals: {credentials: @creds} %>

<p>Create a <%= link_to "new credential", new_credential_path %>.</p>
<hr />
<b>Attach a Credential</b>

<%= render :partial => "role_credentials/form", locals: {role: @role} %>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
