

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<h3>Credentials</h3>
<% @role.credentials.each do |credential| %>
<p>
  <% if credential.required %>
    <b>Required</b> :: 
  <% end %>

  <%= credential.name %> :: 

  <%= link_to 'Destroy Credential', [credential.role, credential],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  
</p>
<% end %>

<h3>Add a New Credential</h3>
<%= form_for([@role, @role.credentials.build]) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
</p>
<p>
  <%= f.label :required %><br />
  <%= f.check_box :required %>
</p>
    <p>
    <%= f.submit %>
  </p>
<% end %>

<h3>Add an Existing Credential</h3>
<ul>
  < %= TeacherCredential.find(:credential_id => 1)  %>
  <% [].each do |n| %>
    <%= form_for([@role, @role.credentials.build]) do |f| %>
      <li><%= n.name %> :: <%= f.submit "Add Credential" %> :: <%= link_to "edit credential",edit_role_credential_path(n.role, n) %></li>
      <%= hidden_field(:credential, :name, :value => n.name) %>
    <% end %>
  <% end %>
</ul>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
