<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<h3>Credentials</h3>
<% @role.credentials.each do |credential| %>
<p>

  <%= credential.name %> :: 

  <%  link = RoleCredential.where(:role_id => @role.id, :credential_id => credential.id).first %>
  <%= link_to 'Unlink Credential', link,  method: :delete, data: { confirm: 'Are you sure?' } %>
  
</p>
<% end %>

<h3>Link to an Existing Credential</h3>

<%= render :partial => "role_credentials/form" %>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
