<h3><%= @role.name %></h3>

<b><%= pluralize @role.credentials.length, "credential" %> required for this position:</b>
<% @role.credentials.each do |credential| %>
<p>

  <%= credential.name %> :: 

  <%  link = RoleCredential.where(:role_id => @role.id, :credential_id => credential.id).first %>
  <%= link_to 'Unlink Credential', link,  method: :delete, data: { confirm: 'Are you sure?' } %>
  
</p>
<% end %>

<hr />
<b>Attach a Credential</b>

<%= render :partial => "role_credentials/form", locals: {role: @role} %>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
