<% if credentials.count <= 0 %>
	No credentials found
<% else %>
<%= form_for(@teacher, url: {action: "email_me"}) do |f| %>

  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<table class="table table-bordered">
		<thead>
		  <tr>
		  	<td></td>
		    <td>Credential Name</td>
		    <td>Web Link</td>
		    <td>Notes</td>
	    </tr>
	  </thead>
	  <tbody>
		<% credentials.each do |c| %>
			<tr> 
				<td><%= check_box_tag "teacher[credential_ids][]", c.id, active ? active.include?(c.id.to_s) : true %> </td>
			  	<%= render partial: "credentials/credential", locals: {credential: c} %>
		  	</tr>
		<% end %>
	  </tbody>
	</table>

	<%= render :partial => "credentials/reminder_text" %>
	<%= f.hidden_field :role_id, :value => @teacher.role_id %>
	<%= f.label :name, "Name:" %> <%= f.text_field :name %> <br />
	<%= f.label :email, "Email:" %> <%= f.text_field :email %> <br />
	<%= recaptcha_tags %>	
	<%= f.submit "Email me these certificates" %>
<% end %>

<% end %>