<% if credentials.count <= 0 %>
	No credentials found
<% else %>
<%= form_for(@teacher, url: {action: "email_me"}) do |f| %>
	<table class="table table-bordered">
		<thead>
		  <tr>
		  	<td></td>
		    <td>Credential Name</td>
		    <td>Web Link</td>
		    <td>Notes</td>
	    </tr>
	  </thead>
	  <tbody>
		<% credentials.each do |c| %>
			<tr> 
				<td><%= check_box_tag "teacher[credential_ids][]", c.id, true%></td>
			  	<%= render partial: "credentials/credential", locals: {credential: c} %>
		  	</tr>
		<% end %>
	  </tbody>
	</table>

	<%= render :partial => "credentials/reminder_text" %>

	<%= f.label :name %>: <%= f.text_field :name %> <br />
	<%= f.label :email %>: <%= f.text_field :email %> <br />	
	<%= f.submit "Email me these certificates" %>
<% end %>

<% end %>