<%= form_for([@role, @credential]) do |f| %>
<% if @credential.errors.any? %>
<div id="error_explanation">
<h2><%= pluralize(@credential.errors.count, "error") %> prohibited this role from being saved:</h2>
<ul>
<% @credential.errors.full_messages.each do |message| %>
<li><%= message %></li>
<% end %>
</ul>
</div>
<% end %>
<p>
<%= f.label :name %><br>
<%= f.text_field :name %>
</p>
<p>
<%= f.label :link %><br />
<%= f.text_field :link %>
</p>
<p>
<%= f.label :note %><br />
<%= f.text_area :note, cols: 100, rows: 24 %>
</p>
<p>
<%= f.label :exam %><br />
<%= f.check_box :exam %>
</p>
<p>
<%= f.submit %>
</p>
<% end %>