
<%= link_to "New Credential", new_credential_path %>
<br />
<br />
<h2>Exams</h2>
<% @credentials.each do |c| %>
	<% if c.exam %>
		<%= link_to c.name, edit_credential_path(c) %> :: <%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' } %> <br />
	<% end %>
<% end %>

<h2>Credentials</h2>
<% @credentials.each do |c| %>
<% unless c.exam %>
	<%= link_to c.name, edit_credential_path(c) %> :: <%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' } %> <br />
	<% end %>
<% end %>	
