<h3>Credential</h3>
Name: <%= @credential.name %><br />
Link: <%= @credential.link %><br />
Note: <%= @credential.note %><br />
Exam?: <%= @credential.exam %><br />
<%= link_to 'Edit', edit_credential_path(@credential) %> |
<%= link_to 'Back', credentials_path %>