<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "teachers", "/"%> | 
<%= link_to "roles", roles_path %> | 
<%= link_to "credentials", credentials_path %> <br />
You are <%= "<b>NOT</b>" if !admin_signed_in? %>logged in.
<hr />
<%= yield %>

</body>
</html>
