<!DOCTYPE html>
<html>
<head>
  <title>KIPP Schools</title>
  <!--< %= stylesheet_link_tag    'kipp' %> -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<fdiv id = "container">
	<fdiv id = "header">
		<p class="centered"><%= link_to image_tag("KIPP_logo", id: "main_title"), "/" %></p>
		<%= link_to "Certificate Search", "/"%>
		<% if admin_signed_in? %>
		| <%= link_to "roles", roles_path %> | <%= link_to "credentials", credentials_path %> |<%= link_to "sent mail", "/sent_mail" %><% end %> 
		|
		<%= link_to "learn more about KIPP", "https://form.jotform.com/61676164998171" %><br />
		<%= render :partial => "layouts/login" %>
	</div>

	<fdiv id = "content">
		<p id = "notice" class = "notice"><%= notice %></p>
		<p id = "alert" class = "alert"><%= alert || flash[:alert] %></p>
		<% flash.clear %>
		<%= yield %>
	</div>
</div>
</body>
</html>
